HotelManagement/Connected Services/HotelService/HotelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="HotelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49931/HotelService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49931/HotelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49931/HotelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:49931/HotelService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HotelWCFService.DTO" />
      <xsd:import schemaLocation="http://localhost:49931/HotelService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HotelWCFService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHotelService_GetTables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTables" />
  </wsdl:message>
  <wsdl:message name="IHotelService_GetTables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTablesResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_UpdateKitchenItemsQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKitchenItemsQuantity" />
  </wsdl:message>
  <wsdl:message name="IHotelService_UpdateKitchenItemsQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKitchenItemsQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetOrderItemsForTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderItemsForTable" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetOrderItemsForTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderItemsForTableResponse" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetOrderItemsForTableList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderItemsForTableList" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetOrderItemsForTableList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderItemsForTableListResponse" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenu" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetTableList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTableList" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetTableList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableListResponse" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetItemsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsList" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetItemsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsListResponse" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetMenuByCategoryId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuByCategoryId" />
  </wsdl:message>
  <wsdl:message name="IItemsService_GetMenuByCategoryId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuByCategoryIdResponse" />
  </wsdl:message>
  <wsdl:message name="IItemsService_NewOrderForTable_InputMessage">
    <wsdl:part name="parameters" element="tns:NewOrderForTable" />
  </wsdl:message>
  <wsdl:message name="IItemsService_NewOrderForTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewOrderForTableResponse" />
  </wsdl:message>
  <wsdl:message name="IItemsService_ExistingOrderForTable_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistingOrderForTable" />
  </wsdl:message>
  <wsdl:message name="IItemsService_ExistingOrderForTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistingOrderForTableResponse" />
  </wsdl:message>
  <wsdl:message name="IItemsService_AddItems_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItems" />
  </wsdl:message>
  <wsdl:message name="IItemsService_AddItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IItemsService_DeleteItemsFromCustomerOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemsFromCustomerOrder" />
  </wsdl:message>
  <wsdl:message name="IItemsService_DeleteItemsFromCustomerOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemsFromCustomerOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IItemsService_OrderByWaiter_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderByWaiter" />
  </wsdl:message>
  <wsdl:message name="IItemsService_OrderByWaiter_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderByWaiterResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddItemsToMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItemsToMenu" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddItemsToMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemsToMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteItemsFromMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemsFromMenu" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteItemsFromMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemsFromMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdateItemTotalQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemTotalQuantity" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdateItemTotalQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemTotalQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddTables_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTables" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddTables_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTablesResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DeleteAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DeleteAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IHotelService">
    <wsdl:operation name="GetTables">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/GetTables" message="tns:IHotelService_GetTables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/GetTablesResponse" message="tns:IHotelService_GetTables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKitchenItemsQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/UpdateKitchenItemsQuantity" message="tns:IHotelService_UpdateKitchenItemsQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/UpdateKitchenItemsQuantityResponse" message="tns:IHotelService_UpdateKitchenItemsQuantity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IItemsService">
    <wsdl:operation name="GetOrderItemsForTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemsService/GetOrderItemsForTable" message="tns:IItemsService_GetOrderItemsForTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemsService/GetOrderItemsForTableResponse" message="tns:IItemsService_GetOrderItemsForTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderItemsForTableList">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemsService/GetOrderItemsForTableList" message="tns:IItemsService_GetOrderItemsForTableList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemsService/GetOrderItemsForTableListResponse" message="tns:IItemsService_GetOrderItemsForTableList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemsService/GetMenu" message="tns:IItemsService_GetMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemsService/GetMenuResponse" message="tns:IItemsService_GetMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemsService/GetItems" message="tns:IItemsService_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemsService/GetItemsResponse" message="tns:IItemsService_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTableList">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemsService/GetTableList" message="tns:IItemsService_GetTableList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemsService/GetTableListResponse" message="tns:IItemsService_GetTableList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemsService/GetCategory" message="tns:IItemsService_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemsService/GetCategoryResponse" message="tns:IItemsService_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemsService/GetItemsList" message="tns:IItemsService_GetItemsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemsService/GetItemsListResponse" message="tns:IItemsService_GetItemsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuByCategoryId">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemsService/GetMenuByCategoryId" message="tns:IItemsService_GetMenuByCategoryId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemsService/GetMenuByCategoryIdResponse" message="tns:IItemsService_GetMenuByCategoryId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewOrderForTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemsService/NewOrderForTable" message="tns:IItemsService_NewOrderForTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemsService/NewOrderForTableResponse" message="tns:IItemsService_NewOrderForTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistingOrderForTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemsService/ExistingOrderForTable" message="tns:IItemsService_ExistingOrderForTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemsService/ExistingOrderForTableResponse" message="tns:IItemsService_ExistingOrderForTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemsService/AddItems" message="tns:IItemsService_AddItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemsService/AddItemsResponse" message="tns:IItemsService_AddItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItemsFromCustomerOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemsService/DeleteItemsFromCustomerOrder" message="tns:IItemsService_DeleteItemsFromCustomerOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemsService/DeleteItemsFromCustomerOrderResponse" message="tns:IItemsService_DeleteItemsFromCustomerOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderByWaiter">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemsService/OrderByWaiter" message="tns:IItemsService_OrderByWaiter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemsService/OrderByWaiterResponse" message="tns:IItemsService_OrderByWaiter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="AddItemsToMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddItemsToMenu" message="tns:IAdminService_AddItemsToMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddItemsToMenuResponse" message="tns:IAdminService_AddItemsToMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItemsFromMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeleteItemsFromMenu" message="tns:IAdminService_DeleteItemsFromMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteItemsFromMenuResponse" message="tns:IAdminService_DeleteItemsFromMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItemTotalQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/UpdateItemTotalQuantity" message="tns:IAdminService_UpdateItemTotalQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/UpdateItemTotalQuantityResponse" message="tns:IAdminService_UpdateItemTotalQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTables">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddTables" message="tns:IAdminService_AddTables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddTablesResponse" message="tns:IAdminService_AddTables_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Login" message="tns:IAccountService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/LoginResponse" message="tns:IAccountService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/AddAccount" message="tns:IAccountService_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AddAccountResponse" message="tns:IAccountService_AddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetRoles" message="tns:IAccountService_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetRolesResponse" message="tns:IAccountService_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/DeleteAccount" message="tns:IAccountService_DeleteAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/DeleteAccountResponse" message="tns:IAccountService_DeleteAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHotelService" type="tns:IHotelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTables">
      <soap:operation soapAction="http://tempuri.org/IHotelService/GetTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKitchenItemsQuantity">
      <soap:operation soapAction="http://tempuri.org/IHotelService/UpdateKitchenItemsQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IItemsService" type="tns:IItemsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderItemsForTable">
      <soap:operation soapAction="http://tempuri.org/IItemsService/GetOrderItemsForTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderItemsForTableList">
      <soap:operation soapAction="http://tempuri.org/IItemsService/GetOrderItemsForTableList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenu">
      <soap:operation soapAction="http://tempuri.org/IItemsService/GetMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IItemsService/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableList">
      <soap:operation soapAction="http://tempuri.org/IItemsService/GetTableList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/IItemsService/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsList">
      <soap:operation soapAction="http://tempuri.org/IItemsService/GetItemsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuByCategoryId">
      <soap:operation soapAction="http://tempuri.org/IItemsService/GetMenuByCategoryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewOrderForTable">
      <soap:operation soapAction="http://tempuri.org/IItemsService/NewOrderForTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistingOrderForTable">
      <soap:operation soapAction="http://tempuri.org/IItemsService/ExistingOrderForTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItems">
      <soap:operation soapAction="http://tempuri.org/IItemsService/AddItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItemsFromCustomerOrder">
      <soap:operation soapAction="http://tempuri.org/IItemsService/DeleteItemsFromCustomerOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderByWaiter">
      <soap:operation soapAction="http://tempuri.org/IItemsService/OrderByWaiter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddItemsToMenu">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AddItemsToMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItemsFromMenu">
      <soap:operation soapAction="http://tempuri.org/IAdminService/DeleteItemsFromMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItemTotalQuantity">
      <soap:operation soapAction="http://tempuri.org/IAdminService/UpdateItemTotalQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTables">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AddTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAccountService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/DeleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelService">
    <wsdl:port name="BasicHttpBinding_IHotelService" binding="tns:BasicHttpBinding_IHotelService">
      <soap:address location="http://localhost:49931/HotelService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IItemsService" binding="tns:BasicHttpBinding_IItemsService">
      <soap:address location="http://localhost:49931/HotelService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://localhost:49931/HotelService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:49931/HotelService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>