HotelManagement/Connected Services/HotelService/HotelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelWCFService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelWCFService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49931/HotelService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfOrderListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderListDTO" nillable="true" type="tns:OrderListDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderListDTO" nillable="true" type="tns:ArrayOfOrderListDTO" />
  <xs:complexType name="OrderListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderListDTO" nillable="true" type="tns:OrderListDTO" />
  <xs:complexType name="ArrayOfTables">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tables" nillable="true" type="tns:Tables" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTables" nillable="true" type="tns:ArrayOfTables" />
  <xs:complexType name="Tables">
    <xs:sequence>
      <xs:element minOccurs="0" name="TableId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tables" nillable="true" type="tns:Tables" />
  <xs:complexType name="ArrayOfWaiterOrderListGroupBy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WaiterOrderListGroupBy" nillable="true" type="tns:WaiterOrderListGroupBy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWaiterOrderListGroupBy" nillable="true" type="tns:ArrayOfWaiterOrderListGroupBy" />
  <xs:complexType name="WaiterOrderListGroupBy">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ItemName" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Price" nillable="true" type="q2:ArrayOfint" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Quantity" nillable="true" type="q3:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WaiterOrderListGroupBy" nillable="true" type="tns:WaiterOrderListGroupBy" />
  <xs:complexType name="LoginDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginDTO" nillable="true" type="tns:LoginDTO" />
  <xs:complexType name="ResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="access" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDTO" nillable="true" type="tns:ResponseDTO" />
</xs:schema>