HotelManagement/Connected Services/HotelService/HotelService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelWCFService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelWCFService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginDTO" nillable="true" type="tns:LoginDTO" />
  <xs:complexType name="ResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="access" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDTO" nillable="true" type="tns:ResponseDTO" />
</xs:schema>